<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="author" content="">

  <base href="/">

  <title>Assignment Manager</title>

  <!--css file, combining bulma-->
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
  <link rel="stylesheet" href="/vendor/bulma.css">
  <link rel="stylesheet" href="app.css">

  <!--angular-->

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.32/angular-route.min.js"></script>
</head>

<body ng-app="assignmentManagerApp" >
  <div ng-controller="buttonsController">
    <section class="hero is-primary is-bold">
      <div class="hero-head">
        <div class="container">
          <nav class="nav">
            <div class="nav-left">
              <p class="nav-item is-brand title">
                Assignment Navigation
              </p>
            </div>
            <div class="nav-right nav-menu">
              <span class="nav-item">
                By David Cotelessa
              </span>
            </div>
          </nav>
        </div>
      </div>
      <div class="hero-foot">
        <div class="container">
          <div class="tabs is-toggle">
            <ul>
              <li ng-class="tabClasses('all')"><a ng-click="::setFilter('all')">All</a></li>
              <li ng-class="tabClasses('assigned')"><a ng-click="::setFilter('assigned')"><span class="icon is-small"><i class="fa fa-flag"></i></span><span>Assigned</span></a></li>
              <li ng-class="tabClasses('unassigned')"><a ng-click="::setFilter('unassigned')"><span class="icon is-small"><i class="fa fa-chain-broken"></i></span><span>Unassigned</span></a></li>
              <li ng-if="isLoading()"><span class="icon is-medium"><i class="fa fa-spinner fa-pulse fa-fw"></i><span class="sr-only">Loading...</span></span></li>
            </ul>
          </div>
        </div>
      </div>
      </div>
    </section>
    <section class="section">
      <div class="container" ng-controller="displayController">
        <ul ng-class="isEmpty()">
          <li>
            <p class="control has-icon has-icon-left">
              <input class="input q" type="text" placeholder="Search for assignee or create new assignee" value="" ng-model="q">
              <i class="fa fa-search"></i>
            </p>

            <div class="level uniquename" ng-hide="uniqueName(q)">
              <div class="level-left">
                <p>Would you like to create a new assignee {{q}}?</p>
              </div>
              <div class="level-right">
                <a ng-click="::addAssignee(q)">
                  <span class="icon is-small"><i class="fa fa-plus-circle"></i></span>
                  <span>Add Assignee</span>
                </a>
              </div>
            </div>
          </li>
          <li ng-repeat="item in filteredData = (displayData | orderBy:'-__v' | filter: selectedFilter | filter:q )">
            <div class="box" id="{{::item._id}}" ng-class="setClassbyJobQuantity({{::item.__v}})">
              <article class="media">
                <div class="media-left">
                  <span class="icon is-large">
                    <i class="fa fa-user-circle"></i>
                  </span>
                </div>
                <div class="media-content assignee-jobs">
                    <div class="level">
                      <div class="level-left">
                        <p class="level-item" ng-hide="editingAssignee">
                          <strong>{{::item.name}}</strong> <small ng-if="item.__v">{{item.__v}} jobs</small>
                        </p>
                        <p class="level-item" ng-show="editingAssignee">
                          <input class="input text a" type="text" placeholder="update assignee name" value="" ng-model="a"></input>
                          <a class="button is-success" ng-click="::updateAssignee()">Create</a>
                          <a class="button is-warning" ng-click="::cancelUpdateAssignee()">Cancel</a>

                        </p>
                      </div>
                      <div class="level-right">
                        <a class="level-item expanded" ng-if="assigneeExpanded==item._id" ng-click="::collapseItem(item._id)" title="collapse jobs">
                          <span class="icon is-small"><i class="fa fa-chevron-up"></i></span>
                        </a>
                        <a class="level-item collapsed" ng-if="assigneeExpanded!=item._id" ng-click="::expandItem(item._id)" title="expand jobs">
                          <span class="icon is-small"><i class="fa fa-chevron-down"></i></span>
                        </a>
                        <a class="level-item"  title="update assignee" ng-click:"::requestUpdateAssignee(item._id)">
                          <span class="icon is-small"><i class="fa fa-edit"></i></span>
                        </a>
                        <a class="level-item"  title="trash assignee" ng-click:"::deleteAssignee(item._id)">
                          <span class="icon is-small"><i class="fa fa-trash"></i></span>
                        </a>
                      </div>
                    </div>
                    <ul ng-if="assigneeExpanded==item._id">
                      <li>
                        <div class="level">
                          <div class="level-left">
                            <div class="tabs is-toggle jobs-tabs">
                              <ul>
                                <li ng-class="tabJobClasses('all')"><a ng-click="::setJobFilter('all')">All</a></li>
                                <li ng-class="tabJobClasses('in_progress')"><a ng-click="::setJobFilter('in_progress')"><span class="icon is-small"><i class="fa fa-hourglass-start"></i></span><span>In Progress</span></a></li>
                                <li ng-class="tabJobClasses('completed')"><a ng-click="::setJobFilter('completed')"><span class="icon is-small"><i class="fa fa-check-circle"></i></span><span>Completed</span></a></li>
                              </ul>
                            </div>
                          </div>
                          <div class="level-right">
                            <a ng-click="::requestAddJob()" ng-hide="addingJob">
                              <span class="icon is-small"><i class="fa fa-plus-circle"></i></span>
                              <span>Add Job</span>
                            </a>
                          </div>
                        </div>
                      </li>
                      <li ng-show="addingJob">
                        <div class="box">

                        <div class="level">
                          <p><b>Add New Job:</b></p>
                        </div>

                        <div class="media">
                          <div class="media-content">
                          <input class="input text j" type="text" placeholder="Type name of new job or search for unnassigned jobs" value="" ng-model="j"></input>
                          <textarea class="input textarea d" type="text" placeholder="Type description." ng-model="d" ></textarea>
                          <a class="button is-success" ng-click="::addJob()">Create</a>
                          <a class="button is-warning" ng-click="::cancelAddJob()">Cancel</a>
                          </div>
                        </div>
                        <hr />
                          <div class="level">
                            <p><b>Unassigned Jobs:</b></p>
                          </div>
                          <ul>
                            <li ng-repeat="ojob in otherJobs = (jobsData | filter: {'assigned': undefined} | filter:j )">
                              <div class="box">
                                <p><b>{{ojob.summary}}</b></p>
                                <p>{{ojob.description}}</p>

                                <div class="level">
                                  <div class="level-left">
                                    <a class="level-item" title="assign job" ng-click="::assignJob(o.job._id)">
                                      <span class="icon is-small"><i class="fa fa-link"></i></span>
                                    </a>
                                    <a class="level-item"  title="update job" ng-click:"::requestUpdateJob(o.job._id)">
                                      <span class="icon is-small"><i class="fa fa-edit"></i></span>
                                    </a>
                                  <a class="level-item" title="trash job" ng-click="::deleteJob(o.job._id)">
                                    <span class="icon is-small"><i class="fa fa-trash"></i></span>
                                  </a>
                                </div>
                              </div>
                            </div>
                            </li>
                          </ul>
                        </div>
                      </li>
                      <li ng-repeat="job in filteredJobs = (item.jobs | orderBy:jobStatusSort | filter: selectedJobFilter)" ng-hide="addingJob">
                        <div class="box">
                          <div class="media" ng-hide="editingJob">
                            <div class="media-content">
                              <p>
                                <b>{{::jobData(job, "summary") || "No Summary."}}</b>
                                <span ng-if="::jobData(job, 'status')=='In Progress'"> | Started {{::jobData(job, 'start_date') | date:'medium'}}</span>
                                <span ng-if="::jobData(job, 'status')=='Completed'"> | Finished {{::jobData(job, 'end_date') | date:'medium'}}</span>
                              </p>
                              <p>
                                {{::jobData(job, "description") || "No Description."}}
                              </p>
                            </div>
                          <div>
                          <div class="media" ng-show="editingJob">
                            <div class="media-content">
                            <input class="input text je" type="text" placeholder="Type name of new job or search for unnassigned jobs" value="" ng-model="je"></input>
                            <textarea class="input textarea de" type="text" placeholder="Type description." ng-model="de" ></textarea>
                            <a class="button is-success" ng-click="::updateJob()">Update</a>
                            <a class="button is-warning" ng-click="::cancelUpdateJob()">Cancel</a>
                            </div>
                          </div>
                          <div class="level">
                            <div class="level-left">
                              <a class="level-item" title="unassign job" ng-click="::unassignJob(job)" ng-if="::jobData(job, 'status')=='New' || jobData(job, 'status')=='In Progress'">
                                <span class="icon is-small"><i class="fa fa-chain-broken"></i></span>
                              </a>
                              <a class="level-item" title="start job" ng-click="::startJob(job)" ng-if="::jobData(job, 'status')=='New'">
                                <span class="icon is-small"><i class="fa fa-hourglass-start"></i></span>
                              </a>
                              <a class="level-item" title="completed job" ng-click="::completeJob(job)" ng-if="::jobData(job, 'status')=='In Progress'">
                                <span class="icon is-small"><i class="fa fa-check-circle"></i></span>
                              </a>
                              <a class="level-item"  title="update job" ng-click:"::requestUpdateJob(job)">
                                <span class="icon is-small"><i class="fa fa-edit"></i></span>
                              </a>
                            <a class="level-item" title="trash job" ng-click="::deleteJob(job)">
                              <span class="icon is-small"><i class="fa fa-trash"></i></span>
                            </a>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </article>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <section class="section footer">
      <div class="container">
        <div class="content has-text-centered">
          <p>&copy; 2016 David Cotelessa</p>
        </div>
      </div>
    </section
  </div>

  <!--our angular app-->
  <script src="app.js"></script>
</body>
</html>
