$family-huge: 'Roboto Slab', serif;
$primary: #7a7a7a;
$job1: job-1 #FFEEEE;
$job2: job-2 #FFDDDD;
$job3: job-3 #FFCCCC;
$job4: job-4 #FFBBBB;

$jobs: $job1, $job2, $job3, $job4;

@each $job in $jobs {
  .box.#{nth($job, 1)} {
    background-color: nth($job, 2);
  }
}

a {
  color: $primary;
}

p {
  word-break: break-all;
  overflow: hidden;
}


.box {
  margin-bottom: 5px;
  padding: 20px;
  .assignee-jobs {
    li {
      padding-bottom: 10px;
    }
  }
}

 .jobs-tabs {
   @media (max-width: 440px) {
     span:not(.icon) {
       opacity: 0;
       width: 10px;
      }
  }
}

.is-brand {
  font-family: $family-huge;
}

.input,  .uniquename {
  margin-bottom: 10px;
}

.media .media {
  border-top: 0;
}

.tabs ul {
  flex-wrap: wrap;
}
